name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        # Test fixtures live in LFS.
        lfs: true

    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        components: rustfmt, clippy, llvm-tools-preview

    - name: Setup Rust cache
      uses: Swatinem/rust-cache@v2

    - name: Install testing tools
      uses: taiki-e/install-action@v2
      with:
        tool: nextest@0.9.36,cargo-llvm-cov@0.5.0

    - name: Lint
      run: make lint

    - name: Build
      run: make build

    - name: Test
      run: make cover

    - name: Upload coverage data
      uses: codecov/codecov-action@v3
      with:
        files: lcov.info
